@charset "UTF-8";
/* CSS Document */
/* Calculator Box */
.box {
	background-color: rgba(133,195,212,1.00);
	height: 300px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
}

/* Display */
.display {
	background-color: rgba(0,33,94,1.00);
	height: 40px;
	width: 220px;
	position: relative;
	top: 20px;
	left: 15px;
}
.display input {
	position: relative;
	left: 2px;
	top: 2px;
	height : 30px;
	width: 210;
	color: black;
	background-color: #bccd95;
	font-size: 21px;
	text-align: right;
}
/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}
.button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.button.function {
	color: white;
	background-color: rgba(1,27,153,1.00);
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.operator {
	color: white;
	background-color: rgba(2,17,61,1.00);
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.number {
	color: white;
	background-color: rgba(26,143,213,1.00);
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}

/* Stimulate Button Press */
.function:archive {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}
.operator:active {
	border-top: black 2px solid;
	border-bottom: 2px #303030 solid;
}
.number:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}
	
body {
	background-image:url("snow2.jpg")
}